<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IWeatherService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IWeatherService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WeatherService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IWeatherService" contract="WeatherService.IWeatherService"
                name="BasicHttpBinding_IWeatherService" />
            <endpoint address="net.tcp://localhost:44404/WeatherService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWeatherService"
                contract="WeatherService.IWeatherService" name="NetTcpBinding_IWeatherService">
                <identity>
                    <userPrincipalName value="DESKTOP-F43A1BV\kiril" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>